#page1,
#page2a,
#page2b,
#page3a,
#page3b,
#page4,
#page21,
#page22,
#page22a,
#page22b,
#page23,
#page24,
#page25{
    background: url(bg1.png) no-repeat center;
    background-size: cover;
    color: #ecf0f1;
    font-family: 'Abel', 'sans-serif';
}

div.dialogue {
    padding-top: 100px;
    height: 50vh;
}

.choice {
    background-color: #3a3a3a!important;
    text-decoration: none!important;
    text-align: center;
    color: white!important;
    height: 90px!important;
    text-shadow: none!important;
    width: 90px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.footer {
    background: url(darkpattern.png) no-repeat center!important;
    background-size: cover!important;
    height: 100px;
}

a {
    text-align: center;
    height: 100px!important;
    background: #aaaaaa !important;
    text-shadow: none !important;
    color: white !important;
    text-decoration: none !important;
}

small{
    text-shadow: none !important;
    color: white !important;
    text-decoration: none !important;
}

.gifss {
    background: url(gifss.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.groslien {
    width: 600px;
    height: 600px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------*/
/*	06: PRELOADER
/*-----------------------------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(gifss.gif) no-repeat center center;
    z-index: 9999;
}
.status {
    width: 50px; height:50px;
    position: absolute;
    left: 50%; top: 45%;
    margin: -25px 0 0 -25px;
    color: #fff;
}

