
/*-----------------------------------------------------------------------------------*/
/*  GENERAL
/*-----------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Khand:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

#page1,#page2a,#page2b,#page3a,
#page3b,#page4a,#page4b,#page21,
#page22,#page22a,#page22b,#page31,
#page32,#page33,#page34,#page35,
#page36,#page37,#page38,#page39,
#page40 {
    background: url(bg1.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans Condensed', sans-serif!important; font-weight: 300!important; color: white!important;
text-shadow: none;}


/*-----------------------------------------------------------------------------------*/
/*  DIALOGUE DE JAYCE
/*-----------------------------------------------------------------------------------*/
div.dialogue {padding-top: 50px;}
div.dialogue h3{font-family: 'Open Sans Condensed', sans-serif!important; font-weight: 300!important; color: #b0b0b0;
text-shadow: none;}
small{ text-shadow: none !important; color: white !important; text-decoration: none !important;}


/*-----------------------------------------------------------------------------------*/
/*  CHOIX DE REPONSES
/*-----------------------------------------------------------------------------------*/
.footer {height: 100px; position: fixed; bottom:0;}
.choice:hover {color: #fff!important;}
button {box-shadow: none!important;}
.choice {
    text-align: center;
    color: #b0641a!important;
    text-shadow: none!important;
    width: 150px!important;
    background-color: transparent!important;
    border:none!important;
    border-style:solid!important;
    border-bottom: none!important;
    border-top: none!important;
    border-width:0.2em!important;
    font-family: 'Khand', sans-serif!important;
    font-weight: 300!important;
    font-size: 1.2em;
}
.failure{color: #f34235; font-size: 20px; text-shadow: none;}

/*-----------------------------------------------------------------------------------*/
/*  PRELOADER
/*-----------------------------------------------------------------------------------*/
#preloader {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(gifss.gif) no-repeat center center; z-index: 9999;}
.status {width: 50px; height:50px; position: absolute; left: 50%; top: 45%; margin: -25px 0 0 -25px; color: #fff;}
.gifss {background: url(gifss.gif) no-repeat center center; background-size: cover; height: 100vh;}


/*-----------------------------------------------------------------------------------*/
/*  ENIGME CHIFFRES CACHES
/*-----------------------------------------------------------------------------------*/
.span4 {width: 40px; float: left; margin: 0 8px 10px 8px;}
.phone {margin-left: auto; margin-right: auto; width: 250px; margin-top: 15px;}
.tel {margin-bottom: 10px; margin-top: 10px; border: 1px solid #9e9e9e; border-radius: 0px;}
.num-pad {padding-left: 15px;}
.num {border: 2px solid #9e9e9e; -webkit-border-radius: 999px; border-radius: 40px; -moz-border-radius: 40px; height: 40px; color: #333; cursor: pointer;}
.num:hover {
    background-color: #fff;
    color: #9e9e9e;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.txt {font-size: 25px; text-align: center; font-family: 'Khand'; color: #b0b0b0; border: none!important; text-shadow: none;}
.small {font-size: 15px;}
.btn {
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.btn:hover {
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.spanicons {width: 72px; float: left; text-align: center; margin-top: 40px; color: #9e9e9e; font-size: 30px; cursor: pointer;}
.spanicons:hover {
    color: #3498db;
    transition-property: color .2s linear 0s;
    -moz-transition: color .2s linear 0s;
    -webkit-transition: color .2s linear 0s;
    -o-transition: color .2s linear 0s;}
.active {color: #3498db;}




/*-----------------------------------------------------------------------------------*/
/*  QUIZ
/*-----------------------------------------------------------------------------------*/

.quiz {padding: 0 30px 20px 30px; max-width: 960px; margin: 0 auto;}
.quiz ul {list-style: none; padding: 0; margin: 0;}
.quiz-question {font-weight: bold; display: block; padding: 30px 0 10px 0; margin: 0;}
.quiz-answer {
  margin: 0;
  padding: 10px;
  background: rgba(189, 195, 199,0.2);
  text-shadow:none!important;
  color: white;
  border-radius: 6px;
  margin-bottom: 5px;
  cursor: pointer;
}
.quiz-answer:hover {background: #eee; color: #000000;}
.quiz-answer:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background: #fff;
  vertical-align: middle;
  margin-right: 10px;
}
.quiz-answer.active:before {background-color: #333; border-color: #333;}
.quiz-answer.correct:before {background-color: rgba(46, 204, 113,0.3);border-color: rgba(46, 204, 113,0.3);}
.quiz-answer.incorrect:before {background-color: rgba(231, 76, 60,0.3);border-color: rgba(231, 76, 60,0.3);}
.quiz-answer.active.correct:before {outline: 2px solid rgba(44, 62, 80,0.3); outline-offset: 2px;}
.quiz-result {max-width: 960px; margin: 0 auto; font-weight: bold; text-align: center; color: #fff;padding: 20px;}
.quiz-result.good {
  background: rgba(46, 204, 113,0.3);
   border-radius: 6px;
  font-family: 'Open Sans Condensed', sans-serif!important; 
  font-weight: 300!important; 
  color: white!important;
  text-shadow: none;
  font-size: 18px;
}
.quiz-result.mid {
  background: rgba(230, 126, 34,0.3);
   border-radius: 6px;
  font-family: 'Open Sans Condensed', sans-serif!important; 
  font-weight: 300!important; 
  color: white!important;
  text-shadow: none;
  font-size: 18px;
}
.quiz-result.bad {
  background: rgba(231, 76, 60,0.3);
  border-radius: 6px;
  font-family: 'Open Sans Condensed', sans-serif!important; 
  font-weight: 300!important; 
  color: white!important;
  text-shadow: none;
  font-size: 18px;
}
